.modal_e{
    height: 90vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top:0;
    left: 0;
    display: flex!important;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

}

.modal_e.active{
    opacity: 1;
    pointer-events: all;
    z-index: 15;
}

.modal_e__content{
    padding: 20px;
    background-color: white;
    /*background-color: #d3d3d3;*/
    opacity: 1;
    transform: scale(0.5);
    transition: 0.4s all;
    height: 78vh;
    width: 80vw;
    border-radius: 12px;

}
.modal_e__content.active{
    transform: scale(1);
}

img{
    width: 100%;
    height: auto;
}

.exp_description{
    color: #56565a;
    font-size: 1.1rem;
    line-height: 2;
    background-color: #FAFAFA;
    border-radius: 5%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 93%;
    width: 100%;
}
